body
{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
a
{
    text-decoration: none;
}
.contact
{
    font-style: normal;
}
ul, ol
{
  list-style: none;
}
.info
{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.info:hover, 
.info:focus
{
    color: #404BBF;
}
.web
{
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.studio
{
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.navigation
{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navigation:hover, 
.navigation:focus
{
    color: #404BBF;
}
.title
{
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.title-section
{
    background-color: #2E2F42;
}
.button
{
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button:hover, 
.button:focus
{
    background-color: #404BBF;
}
.paragraph
{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
ul li p
{
    color: #434455;
}
.title-name
{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.sub-title
{
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-section
{
    background-color: #F4F4FD;
}
.team
{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-img
{
    background-color: #FFFFFF;
}
.name-sub-title
{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.footer-class
{
    background-color: #2e2f42;
}
.studio-footer
{
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.team-li
{
    background-color: #FFFFFF;
}
.footer-text
{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}