body
{
    font-family: "Roboto", sans-serif;
    color: #434455;
}
a
{
    text-decoration: none;
}
ul, ol
{
  list-style: none;
}
.contact
{
    color: #434455;
}
.contact:hover, 
.contact:focus
{
    color: #404BBF;
}
.web
{
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 3;
    text-transform: uppercase;
}
.studio
{
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 3;
    text-transform: uppercase;
}
.navigation
{
    color: #2E2F42;
}
.navigation:hover, 
.navigation:focus
{
    color: #404BBF;
}
.title
{
    color: #ffffff;
}
.title-section
{
    background-color: #2E2F42;
}
.button
{
    background-color: #4D5AE5;
    color: #ffffff;
    width: 169px;
    height: 56px;
}
.button:hover, 
button:focus
{
    background-color: #404BBF;
}
ul li h3
{
    color: #2E2F42;
}
ul li p
{
    color: #434455;
}
.sub-title
{
    color: #2E2F42;
}
.team-section
{
    background-color: #F4F4FD;
}
.footer-text
{
    color: #F4F4FD
}